.banner-item {
    height: 700px;

    img {
        object-fit: fill;
        width: 100%;
        height: 100%;
    }
}




@include Reponsive($xs) {
    .banner-item {
        height: 300px;


    }
}

@include Reponsive($md) {
    .banner-item {
        height: 400px;

    }
}