.play-trailer {
    position: absolute;
    font-size: 52px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70px;
    width: 70px;
    color: #fff;
    transition: all 0.5s;
    opacity: 0;
}
.btn-booking{
    color: #fff;
    background-color: rgb(252, 80, 1);
    font-size: 20px;
    font-weight: 600;
    &:hover{
        background-color: rgb(196, 59, 9);
        color: #fff;
    }
}