.play-trailer {
   
    color: $titleColor;
    transition: all 0.5s;
    opacity: 0;
    padding: 12px 18px;
    font-weight: 700;
    min-width: 110px;
    background-color: $mainColor;
    border-radius: 8px;
    font-size: 12px;
}
.btn-booking{
    color: #fff;
    background-color: rgb(252, 80, 1);
    font-size: 20px;
    font-weight: 600;
    &:hover{
        background-color: rgb(196, 59, 9);
        color: #fff;
    }
}
.movie-date {
    color: $titleColor;
    width: 45%;
    border: 1px solid #e4e4e4;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 6px 0;
    border-radius: 4px;
    text-decoration: none;
    background-color: $mainColor;
    transition: all 0.25s;
    &:hover{
        color: $titleColor;
        text-decoration: none;
        background-color: #fff;
        border: solid 1px $mainColor;
        transform: scale(1.1);
    }
}
