.detail-movie {
    width: 100%;
    color: #fff;

    .detail-movie-content {
        background-color: #0000003d;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(19px);
        -webkit-backdrop-filter: blur(19px);
        border-radius: 10px;
        padding: 60px 0 0 0;
        margin: 0 12px;
        align-items: center;
    }

    .background-detail-movie-theater {
        margin: 60px 0;
    }

    .detail-movie-left {
        width: 320px;
        position: relative;
        overflow: hidden;
        border-radius: 8px;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #0a0404a6;
            opacity: 0;
            transition: all 0.5s;
        }

        &:hover {
            .play-trailer {
                opacity: 1;
                z-index: 2;
            }

            &::after {
                opacity: 1;

            }

        }

    }

}


.card-blur {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    // border-radius: 10px;
}
.detail-movie-comments{
    background-color: #0000003d;
    // height: 300px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    border-radius: 10px;
    margin: 0 0 60px 0;
}


#detail-movie-theater {
    background-color: #0000003d;
    height: 600px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    border-radius: 10px;

    .ant-tabs-tab {
        padding: 20px 20px !important;
        margin: 0 0 0 0 !important;
        border-right: 1px solid #e0e0e0;
        opacity: 0.3;
        transition: all 0.5s;
        font-weight: 500;
    }

    .ant-tabs-tab-active {
        opacity: 1;
    }

    .ant-tabs-ink-bar {
        background: #fb4226;
        transition: all 0.5s;
    }

    .ant-tabs-tabpane {
        padding-left: 0;
    }

    .ant-tabs-content-holder {
        border: none;
    }


    .theater-logo {
        img {
            width: 50px;
            height: 50px;
        }

        display: flex;
        align-items: center;
        gap: 16px;
        color: #fff;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: 80%;
            transform: translateX(-50%);
            height: 1px;
            background-color: #e0e0e0;
            left: 50%;
            right: 50%;
        }
    }

    .theater-title {
        padding: 20px 0 0 20px;

        p:nth-child(1) {
            color: rgb(139, 195, 74);
        }

        p:nth-child(2) {
            color: #fff;
        }
    }

    .theater-movie-date {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 24px;
        text-align: center;

        .movie-date {
            width: 12%;
        }
    }


}

@include Reponsive($md) {
    #detail-movie-theater {
        .theater-movie-date {

            .movie-date {
                width: 20%;
            }
        }


    }
}

@include Reponsive($sm) {

    #detail-movie-theater {
        .theater-movie-date {

            .movie-date {
                width: 25%;
            }
        }


    }
}

@include Reponsive($xs) {
    #detail-movie-theater {
        .theater-movie-date {

            .movie-date {
                width: 50%;
            }
        }

        .theater-logo {
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}

@include Reponsive($xxs) {
    .detail-movie {
        .detail-movie-left {
            width: 90%;
        }
    }

    #detail-movie-theater {
        .theater-movie-date {

            .movie-date {
                width: 50%;
            }
        }

        .theater-logo {

            // width: 100px;
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}