.bg-lichchieu {
  background-image: url('../../assets/images/ucm_bg02.jpg');
  padding: 60px 0 90px;
  background-position: top center;
  background-size: cover;
  position: relative;

  .container>span {
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: #d5d5d5;
    margin-bottom: 12px;
  }

  h3 {
    position: relative;
    font-weight: 700;
    color: #fff;
    padding-bottom: 30px;
    margin-bottom: 60px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background-image: url(../../assets/images/title_shape.png);
      width: 98px;
      height: 7px;
    }
  }

  .navbar {
    z-index: 20;
  }
}

.titleLichChieu {
  z-index: 1;
  position: relative;
  background-color: $bgColor;
  color: #fff;
  width: 100%;
  height: 100%;
  bottom: 105px;
  border-radius: 5px;
  // box-shadow: 0px 8px 8px gray;

  .form-group {
    margin-top: 13%;
  }



  .btnMuaVe {
    font-size: 15px;
    padding: 1em 1.5em;
    margin-top: 1em;
    margin-left: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: $bgColor;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    transition: all .3s;
    border: solid 1px $mainColor;

    &:hover {
      background-color: $mainColor;
      color: $titleColor;
    }
  }

  .under-line {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scaleX(0);
      border-bottom: 3px solid $mainColor;
      transition: all .5s;
    }
  }
}

.titleLichChieu .under-line:hover::after {
  transform: scaleX(1);
}

.nav-search {
  position: absolute;
  top: -26px;
  transform: translateX(-50%);
  left: 50%;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0px 8px 8px gray;
  opacity: 0;
  visibility: hidden;

  .input-search {
    width: 120%;
  }

  .img-search {
    object-fit: cover;
    margin-left: 120%;
  }
}

.more-movies-card {
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.46);
  background: $bgForm;
  padding: 15px 15px 25px;
  height: 450px;
  position: relative;
  text-align: center;
  border-radius: 8px;

  &:hover {
    .play-trailer {
      opacity: 1;
    }

    .more-movies-menu {
      li>a {
        opacity: 1 !important;
      }
    }

    .more-movies-overplay {
      opacity: 1;
    }
  }

  .more-movies-overplay {
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #04050ab2;
    opacity: 0;
    transition: linear .2s;
  }

  .more-movies-img {
    position: relative;
    margin: auto;
    height: 300px;
    // width: 100;
    margin-bottom: 12px;

    .more-movies-menu {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;

      &:hover {
        .more-movies-overplay {
          opacity: 1;
        }
      }

      li:nth-child(1) {
        margin-bottom: 16px;
      }

      li {
        a {
          text-decoration: none;
          display: inline-block;
          color: #d5d5d5;
          transition: all 0.5s;
          opacity: 0;
          padding: 12px 18px;
          font-size: 12px;
          font-weight: 700;
          min-width: 110px;
          background-color: $bgColor;
          border-radius: 8px;
          border: 1px solid $mainColor;

          &:hover {
            background-color: $mainColor;
            color: $titleColor;
          }
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  .more-movies-content {
    a {
      // display: block;
      margin-top: 12px;
      color: #d5d5d5;
      text-decoration: none;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      overflow: hidden;
      font-weight: 600;
      font-size: 16px;

      &:hover {
        color: $mainColor;
        cursor: pointer;
      }
    }

    p {
      width: 100%;
      font-weight: 600;
      font-size: 14px;
      position: absolute;
      bottom: 6px;
      left: 50%;
      transform: translateX(-50%);
      color: $textColor;
    }


  }
}

.movie-card {
  border: none;
  background-color: $bgColor;

  .card-title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    color: #fff;
  }




  .btn-BuyTicket {
    position: absolute;
    top: 415px;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    color: $titleColor;
    opacity: 1;
  }

  .footer-buy-ticket {
    position: absolute;
    top: 400px;
    left: 0;
    width: 100%;
    height: 22%;
    // background-color: white;
    opacity: 1;
  }
}


.swiper {
  min-height: 500px;
  .swiper-pagination-bullet{
    background: #ccc;
  }
  .swiper-pagination-bullet-active{
    background-color: $mainColor;
  }
}

@include ReponsiveNTN($lg1) {
  .titleLichChieu {
    max-width: 1199px;

    .btnMuaVe {
      width: 111%;
      margin-left: 10px;
      margin-top: 13px;
    }
  }

}

@include ReponsiveNTN($md1) {
  .titleLichChieu {
    opacity: 0;
    max-width: 960px;
    visibility: hidden;
  }

  .nav-search {
    opacity: 1 !important;
    visibility: visible !important;
    display: block;

    .img-search {
      margin-top: 12px;
    }
  }
}

  @include ReponsiveNTN($sm1) {
    .titleLichChieu {
      display: none;
    }

    .slick-slider {
      margin-top: 80px;
    }
  }

  @include ReponsiveNTN($xs1) {
    .swiper{
      min-height: 640px;
    }
    .more-movies-card {
      height: 600px;

      .more-movies-img {
        height: 450px;
      }
    }

    .movie-card {
      border: none;

      .header-buy-ticket {
        height: 100%;
      }
    }
  }

  @include ReponsiveNTN($xxs1) {
    .swiper{
      min-height: 640px;
    }
    .more-movies-card {
      height: 600px;
    }
  }