#movie-theater {
    overflow: hidden;
    height: 720px;
    box-shadow: 0 8px 32px 0 rgba(1, 2, 7, 0.37);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    border-radius: 10px;
    border: 1px solid #e0e0e0;

    .ant-tabs-tab {
        padding: 20px 20px !important;
        margin: 0 0 0 0 !important;
        border-right: 1px solid #e0e0e0;
        opacity: 0.3;
        font-weight: 500;
        transition: all 0.5s;
    }
    .ant-tabs-tab-active {
        opacity: 1;
    }
    .ant-tabs-ink-bar{
        background: #fb4226;
        transition: all 0.5s;
}
    .ant-tabs-tabpane {
        padding-left: 0;
    }

    .movie-theater-logo {

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: 80%;
            transform: translateX(-50%);
            height: 1px;
            background-color: #e0e0e0;
            left: 50%;
            right: 50%;
        }
    }

    .movie-theater-title {
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: 80%;
            transform: translateX(-50%);
            height: 1px;
            background-color: #e0e0e0;
            left: 50%;
            right: 50%;
        }
    }

    .movie-theater-box {
        padding: 20px;
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 80%;
            height: 1px;
            background-color: #e0e0e0;
            left: 20px;
        }
    }

    .movie-theater-address {
        color: #757575;
        overflow: hidden;
        font-weight: 400;
        text-overflow: ellipsis;
    }

    .movie-theater-name {
        color: #108f3e;
    }

    .movie-theater-movie-name {
        font-weight: 500;
        color: #000;
        font-size: 1.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        span {
            background-color: #fb4226;
            color: #fff;
            border-radius: 6px;
            padding: 0 5px;
            display: inline-block;
            font-size: 1.2rem;
            margin-right: 6px;
        }
    }

    .movie-theater-movie-date {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        text-align: center;

       
    }
}


@include ReponsiveTicket ($md2) {
    #movie-theater {
        display: none;
    }    
}

