.navbar {
    background-color: #0000004f;
    position: absolute;
    z-index: 50;
    top: 0;
    width: 100%;

    #logo {
        // position: none !important;
        width: 10vw;
        height: 5vh;
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                display: flex;
                align-items: center;
                justify-content: center;
            }


            li {
                color: #fff;
            }
        }
    }

    .customer-name {
        position: relative;
        &:hover .name-menu{
            // display: block;
            opacity: 1;
            visibility: visible;
        }
        .name-menu {
            position: absolute;
            top: 32px;
            font-size: 0.75rem;
            opacity: 0;
            visibility: hidden;
            // display: none;
            background-color: #000;
            transition: all 0.5s;
           
        }
    }

    .my-active {

        color: red !important;

    }

    .navbar-custom {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .navbar-collapse {
            text-align: center;
        }

        .navbar-toggler {
            height: 2.5rem;
        }
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

@include Reponsive ($xs) {
    .navbar-custom #logo {
        width: 15vw;

    }
}