
.ghe{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    background-color: rgb(163, 161, 161);
    color: #fff;
}

.gheDaDat{
    background-color: rgb(245, 40, 40);
    cursor: no-drop;
}

.gheDangDat{
    background-color: rgb(15, 179, 15) !important;
}

.gheVip{
    background-color: rgb(255, 187, 0);
}

