
.ghe{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px;
    background-color: rgb(163, 161, 161);
    color: #fff;
}

.gheVip{
    background-color: rgb(255, 187, 0);
}
.gheDaDat{
    background-color: rgb(245, 40, 40);
    cursor: no-drop;
}

.gheKhachDangDat{
    background-color: rgba(5, 5, 99, 0.87); 
    cursor: no-drop;
}
.gheDangDat{
    background-color: rgb(15, 179, 15);
}
.gheDaDuocDat{
    background-color: pink;
    box-shadow: -1px 2px 18px -6px rgb(163, 161, 161);
    color: orangered !important;
}
.gheNguoiKhacDat{
    background-color: #9C27B0;
    cursor: no-drop;
}